*.txt
!COPYING.TXT



*.log
*.exe
!mbsc.exe 

*.ldb
*.tmp
*.vbw
*.scc


fileversions.txt
script.bas
script.ASM
script.bin

*.ini
!server.ini
!serverpk.ini

*/GodLogs
*/Leaderboards

*.dat
!font1.dat
!font2.dat
!skilldata.dat
!classes.ini

*/Crypt/**/*.rsc
Installer/Output


