*.txt
!COPYING.TXT



*.log
*.exe
*.tmp
*.vbw
*.scc



server.dat
*/Backups/*.dat
mapcache.dat

fileversions.txt

*.ini
!server.ini
!serverpk.ini

*/GodLogs
*/Leaderboards

*/*/Cache/*.dat

!font1.dat
!font2.dat
!skilldata.dat
!classes.ini

*/Crypt/**/*.rsc
Installer/Output

*
!*.ini